* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-bg: #1992d4;
    --under-layer: #e2e8f0;
    --light-text: rgb(107, 106, 106);
}

html {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20%);
    height: 100%;
    font-family: Roboto;
}

header {
    padding: 20px;
}

header {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    background-color: var(--header-bg);
}

header a {
    color: white;
    text-decoration: none;
}

#title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

#title-logo {
    height: 3rem;
}

#title-logo + a {
    font-weight: bold;
    font-size: 2rem;
}

header li{
    list-style: none;
    margin: 15px 0;
    display: flex;
    align-items: center;
}

header li > a {
    font-weight: bold;
    font-size: 1.1rem;
}

header li > a:hover {
    text-decoration: underline;
}

header li > img, #search-icon {
    height: 1.2rem;
    margin-right: 20px;
}

#sec1, #sec2 {
    margin-top: 5rem;
}

.header-body {
    position: sticky;
    top: 20px;
}

main {
    grid-column: 2 / 6;
}

.search-and-intro {
    box-shadow: 0 2px 5px 0 gray;
    padding: 20px 40px;
    position: relative;
}

.search-layer, .search-layer-left, .search-layer-right, .intro-layer, .intro-layer-left, .intro-layer-right {
    display: flex;
    align-items: center;
}

.search-layer, .intro-layer {
    justify-content: space-between;
}

.search-layer-left {
    width: 70%;
}

.search-layer-right {
    justify-content: space-evenly;
    width: 30%;
}

.search-layer-right #username {
    font-weight: bold;
    font-size: 1.2rem;
}

#search {
    border-radius: 20px;
    background-color: var(--under-layer);
    border: none;
    width: 90%;
    padding: 10px;
}

#bell {
    height: 1.2rem;
}

#user-logo, .trend > img {
    height: 3rem;
    border-radius: 50%;
}

#intro-logo {
    height: 5rem;
    border-radius: 50%;
    margin-right: 20px;
}

.intro-layer {
    margin-top: 20px;
}

#intro-logo + div span {
    font-weight: bold;
}

#intro-logo + div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#intro-username {
    font-size: 2rem;
}

.intro-layer-right {
    width: 30%;
    justify-content: space-evenly;
}

.intro-layer-right button {
    border-radius: 20px;
    background-color: var(--header-bg);
    color: white;
    font-weight: bold;
    padding: 10px 0;
    width: 5rem;
    border: none;
}

.intro-layer-right button:hover {
    cursor: pointer;
    text-decoration: underline;
}
.main-display {
    background-color: var(--under-layer);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    padding: 20px;
}

.project-area {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    gap: 1rem;
}

.projects {
    grid-area: 1 / 1 / 3 / 7;
}

.announcments {
    grid-area: 1 / 7 / 2 / 9;
}

.trending {
    grid-area: 2 / 7 / 3 / 9;
}

.card, .announcement-box, .trending-box {
    height: 200px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 7px -2px gray;
}

.MD-title, .project-title {
    font-size: 16px;
    font-weight: bold;
}

.project-area, .announcement-box, .trending-box {
    margin-top: 10px;
}

.trending {
    margin-top: 1rem;
}

.card {
    border-left: 8px solid rgb(80, 80, 80);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.project-desc {
    font-size: 14px;
    color: var(--light-text);
}

.content {
    flex: 1;
}

.tally {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.tally img {
    height: 1.2rem;
    margin-right: 10px;
}

.announcement-box, .trending-box {
    padding: 20px;
    height: auto;
}

.announce {
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    margin-top: 10px;
}

.announce:last-child {
    border-bottom: none;
}

.announcment-title {
    font-size: 14px;
    font-weight: bold;
}

.announcment-desc {
    font-size: 12px;
    color: var(--light-text);
}

.trend {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.trend > img {
    margin-right: 10px;
}

.msg-box {
    display: flex;
    flex-direction: column;
}

.trend-username, .msg {
    font-size: 14px;
}

.msg {
    color: var(--light-text);
}